<div id="about" class="row section style1">
  <div class='container'>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="well">
        <h3>Hi, I'm Dylan</h3>
        <p>I'm a web and mobile application developer for both iOS and Android. I am currently attending ASU to complete my Bachelors in Computer Science with graduation right around the corner in December 2015. My current job is with a Real Estate CRM company called Wise Agent as a full stack developer. I enjoy implementing APIs, developing side projects for fun, traveling, and socializing.</p>
        <br />
        <br />
        <p>If you want to know more, just ask!</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="well center">
        <img class="img-thumbnail" width="60%" src="../images/me.jpg" />
      </div>
    </div>
  </div>
</div>