<div ng-include="'views/partials/banner.html'"></div>
<div class="container-fluid">
  <div ng-include="'views/partials/about.html'"></div>
  <div ng-include="'views/partials/skills.html'"></div>
</div>

<div class="container-fluid">
  	<div id="github" class="row section style3">
	  <div class="container">
	  	<div class="col-lg-6"><div id="feed"></div></div>
  		<div class="col-lg-6"><div twitter-timeline="608840345837641728" auto-resize="true" css-url="../src/css/main.css">Loading tweets...</div></div>
	  </div>
	</div>
</div>