<div id="about" class="row section style1">
  <div class='container'>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="well">
        <h3>Hi, I'm Dylan</h3>
        <p>I'm a web and mobile application developer for both iOS and Android. I am currently attending ASU to complete my Bachelors in Computer Science with graduation right around the corner in December 2015. My current job is with a Real Estate CRM company called Wise Agent as a full stack developer. I enjoy implementing APIs, developing side projects for fun, traveling, and socializing.</p>
        <br />
        <br />
        <p>If you want to know more about me, just ask!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-controller="InfoController">
      <div class="well info" ng-repeat="detail in details">
      	<h3>{{detail.title}}</h3>
      	<ul class="list-unstyled">
      		<li ng-repeat="info in detail.details"> 
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center">
              <i class="fa fa-{{info.icon}}"></i>
            </span>
            <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <a ng-if="info.link" class="text-success" href='{{info.href}}'>{{info.content}}</a>
              <span ng-if="!info.link">{{info.content}}</span>
              <div ng-if="info.subContent">
                <span class="sub-content">{{info.subContent}}</span>
              </div>
            </span>
          </li>
      	</ul>
      </div>
    </div>
  </div>
</div>