<div id="skills" class="row section style2 text-muted" ng-controller="SkillsController">
  <div class='container'>
  	<div class="well">
      	<h3>Skills</h3>
        <div class="col-lg-6">
          <h4>Languages</h4>
          <hr />
          <div class="skill" ng-repeat="language in languages">
              <h5>{{language.title}} <span class="pull-right">{{language.label}}</span></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: {{language.proficiency}}"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h4>Operating Systems</h4>
          <hr />
          <div class="skill" ng-repeat="os in systems">
            <h5>{{os.title}} <span class="pull-right">{{os.label}}</span></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: {{os.proficiency}}"></div>
            </div>
          </div>
        </div>
      </div>
</div>